.sidebar__container {
  position: fixed;
  display: inline-block;
  height: 100%;
  color: white;
  background-color: black;
  padding: 10px;
  width: 200px;
  padding: 0;
}

.sidebar__header {
  padding: 10px;
  font-weight: 700;
  font-size: 18px;
}

.sidebar-links__wrapper {
  position: absolute;
  text-align: right;
  margin: 10px;
  bottom: 0;
  right: 0;
}

.sidebar_link {
  display: block;
}

a.sidebar_link {
  color: white;
}

a.sidebar_link:hover {
  color: white;
}

